.mainForm {
  height: 100%;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
  cursor: pointer;
  padding-bottom: 10px;
  flex-direction: column;
  justify-content: space-around;
}
.mainForm:hover {
  transform: translateY(-15px);
  transition: 0.3s ease-in;
}

.title {
  margin: 10px auto;
  padding: 0 10px;
}
@media only screen and (max-width: 720px) {
  .mainForm {
    display: grid;
    grid-template-columns: repeat(1, auto);
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  .title {
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
  }
}
