.sections {
  padding: 5px;
  display: flex;
  justify-content: space-around;
}
.discussionForm {
  width: 400px;
  box-shadow: 2px 2px 5px gray;
  border-radius: 8px;
  padding: 50px 30px;
  height: 400px !important;
}
.discussionForm textarea {
  padding: 5px;
  height: 200px;
  width: 100%;
  border: 0;
}
.discussionForm button {
  padding: 10px 20px;
  background-color: #03c4ff;
  color: white;
  border: 0;
  border-radius: 8px;
  transition: background 0.3s ease-in;
  margin-top: 20px;
}
.discussion a {
  display: block;
  padding: 20px;
  color: #03c4ff;
  text-decoration: none;
}
.discussion a:hover {
  color: rgb(13, 22, 136);
  text-decoration: underline;
  font-weight: bolder;
}
.discussionForm button:hover {
  background-color: rgb(13, 22, 136);
}
.discussions {
  width: 500px;
}
.discussion {
  background-color: #ebe8e8;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}
.discussion:hover {
  box-shadow: 1px 1px 6px gray;
}
.dommy {
  height: 50px;
}

@media only screen and (max-width: 720px) {
  .sections {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    display: block;
    width: 90% !important;
  }
  .discussionForm {
    width: 97% !important;
    padding: 10px;
    margin: 0;
  }
  .discussions {
    width: 100%;
  }
}
