.footer {
  background-color: #029dcc;
}
.logo {
  color: aliceblue;
}
.logoSection {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
  font-size: 1.8rem;
  padding-top: 30px;
  color: aliceblue;
  gap: 3%;
}

.comName {
  top: 110px;
  margin-left: 45px;
  text-align: center;
  font-size: 1.1rem;
}
.iconlogo {
  border: 2px solid rgb(254, 252, 252);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  transition: all 0.3s;
}
.iconlogo:hover {
  font-size: 25px;
  margin-top: -7px;
  width: 50px;
  height: 50px;
  line-height: 52px;
}
.iconlogo a {
  color: white;
}
.h3 {
  color: aliceblue;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 40px;
}
@media only screen and (max-width: 720px) {
  .logoSection {
    margin-top: 25px;
    font-size: 1.3rem;
    padding-top: px;
    color: aliceblue;
    gap: 3%;
  }
  .link {
    text-transform: none;
    color: aliceblue;
  }
}
