.mainForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3% 30px;
}
.TextContent {
  margin-top: 50px;
  font-size: 1.8rem;
  line-height: 75.82px;
  margin-bottom: 23px;
}

.subTitle {
  font-size: 1.2rem;
  line-height: 35.82px;
}

.photo {
  height: 400px;
  width: 580px;
}

.blueWord {
  color: #03c4ff;
}
.button {
  width: 336px;
  background-color: #03c4ff;
  padding: 12px 8px;
  font-size: 1.2rem;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #f0f8ff;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  align-content: center;
  display: inline-block;
}
.button:hover {
  background-color: rgb(13, 22, 136);
}
