.mainForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0px;
}
.TextContent {
  margin: 0;
  margin-top: 10px;
  font-size: x-large;
  line-height: 75.82px;
  max-width: 500px;
}

.subTitle {
  margin-top: 18px;
  font-size: 1.5rem;
  line-height: 35.82px;
}
.imageContent {
  margin-top: 100px;
}
.photo {
  height: 500px;
  width: 670px;
}

.blueWord {
  color: #03c4ff;
}
@media only screen and (max-width: 720px) {
  .mainForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
  }
  .TextContent {
    margin-top: 5px;
    font-size: 1.1rem;
    line-height: 43.82px;
  }
  .subTitle {
    margin-top: 14px;
    font-size: 0.9rem;
    line-height: 25.82px;
  }
  .photo {
    margin-top: 10px;
    height: 400px;
    width: 413px;
  }
  .imageContent {
    margin-top: 20px;
  }
}
