.videoSection {
  margin: 3% 2%;
  display: grid;
  row-gap: 10%;
  grid-template-columns: repeat(3, auto);
  padding: 1% 3%;
}
.h1 {
  display: inline-block;
  margin-left: 9.7%;
  margin-top: 40px;
  font-size: 2.1rem;
}

.main {
  position: relative;
  height: 100%;
}
.dommy {
  height: 50px;
}
.footer {
  margin-top: 50px;
}

@media only screen and (max-width: 720px) {
  .videoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    width: 100%;
    gap: 30px;
  }
  .h1 {
    display: inline-block;
    margin: 40px 7%;
    font-size: 1.1rem;
  }
  .main {
    position: relative;
    width: 100%;
  }
}
