.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  display: flex;
  list-style-type: none;
  color: black;
  font-weight: bold;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
}

.navigation ul li a {
  text-decoration: none;
  color: black;
}
.navigation ul li a.active,
.navigation ul li a:hover {
  color: #03c4ff;
  border-bottom: 2px solid #03c4ff;
}
.getStartedButton {
  background-color: #03c4ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-in;
}
.getStartedButton:hover {
  background-color: rgb(13, 22, 136);
}
.menu {
  display: none;
}
.profile {
  display: flex;
  gap: 10px;
  color: black;
  text-decoration: none;

  font-weight: bolder;
}
.profile:hover {
  color: rgb(13, 22, 136);
  text-decoration: underline;
  font-weight: bolder;
}
@media only screen and (max-width: 720px) {
  .nav {
    display: block;
  }
  .navActive {
    height: auto;
  }
  .mobileNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav .navigation {
    overflow: hidden;
  }
  .nav .navigation ul {
    display: block;
  }
  .nav .navigation ul li {
    padding: 10px 0px;
  }
  .menu {
    display: block;
  }
  .animateHeight {
    transition: height 1s;
  }
  .showHeight {
    height: 300px !important;
  }
  .showHeightofButton {
    height: auto !important;
  }
  .hideHeight {
    height: 0;
    overflow-y: hidden !important;
    padding: 0;
  }
}
